.center {
	text-align: center;
}

img {
	float: left;
	width: 300px;
	height: 280px;
	margin-right: 15px;
}

#div1 {
	height: 280px;
}

#div1 #div2 #div3 #div4 {
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	border: 0px;
}

#title {
	color: black;
	position: relative;
}



