body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  margin-right: 400px;
  margin-left: 400px;
}

p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 400px;
  margin-left: 400px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 400px;
  margin-left: 400px;

img {
  float: left;
  margin-right: 10px;
}
